<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <title>User Profile - Memental</title>
  <link rel="icon" href="../../static/images/mental-icon-2.jpg">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="Tooplate">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="{% static 'css/table.css' %}">
  {% include 'importcss.html' %}

</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

  {% include 'navbar.html' %}

  <!-- ABOUT -->
  <section style="padding: 70px;">
    <form action="#" method="POST">
      {% csrf_token %}
      <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img src="{{doctor.get_img}}" alt="" class="rounded-circle" width="150" style="border-radius: 50%;">
                <div class="mt-3">
                  <h5>{{doctor.name}}</h5>
                  <p class="text-secondary mb-1">{{doctor.email}}</p>
                  {% if doctor.location is not None %}
                  <p class="text-muted font-size-sm">{{doctor.location}}</p>
                  {% endif %}
                  <br>
                  <button class="btn btn-info" style="background-color: hsl(83, 100%, 37%); border: 0;">Update
                    profile</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">

              <div class="row">
                <div class="col-sm-3">
                  <h5 class="mb-0">Full Name</h5>
                </div>
                <div class="col-sm-9 text-secondary">
                  <p class="mb-0" style="margin-top: 6px;">{{doctor.name}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Birthdate</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{doctor.birthdate}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h5 class="mb-0">Email</h5>
                </div>
                <div class="col-sm-9 text-secondary">
                  <p class="mb-0" style="margin-top: 6px;">{{doctor.email}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h5 class="mb-0">Phone</h5>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{form.phone}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h5 class="mb-0">Address</h5>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{form.address}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Credit Info</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{form.credit_card}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Password</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{form.password0}}
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">New Password</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{form.password1}}
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Re-Enter Password</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{form.password2}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Fees</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{form.fees}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Qualification</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{form.qualifications}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Education</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{form.education}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Availability</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{form.availability}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Description</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{form.desc}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Specilization</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{form.specilization}}
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>


  <!-- NEWS -->
  <section id="news" data-stellar-background-ratio="2.5">
    <div class="container .appointment-table">

      <div class="table table-hover">
        <table class="table">
          <tr>
            <th>Patient</th>
            <th>Schedule</th>
            <th>Appointment Status</th>
            <th>Prescription</th>
            <th>Email</th>
            <th>Contact</th>
            <th></th>
          </tr>
          {% for appointment in appointments %}
          {% if appointment.needs_approval or appointment.is_approved %}
          <form action="" method="POST">
            {% csrf_token %}
            <tr>
              <td>{{appointment.get_patient_name}}</td>
              <td class="dash-l-r">{{appointment.date}}</td>
              <td>
                {% if appointment.is_approved %}
                {{appointment.choice}}
                {% else %}
                {{approve_form.approval}}
                {% endif %}
                <input type="number" name="appointment_id" value="{{appointment.id}}"
                  style="max-width: 0px; opacity: 0;" readonly>
              </td>
              <td class="dash-l-r">
                <p style="padding: 5px;">{{appointment.prescription}}</p>
                {{prescription_form.prescription}}
              </td>
              <td>{{appointment.get_patient_email}}</td>
              <td class="dash-l-r">{{appointment.get_patient_contact}}</td>
              <td>
                <span class="select-btn">
                  <button class="button">Save</button>
                </span>
              </td>
              </td>
            </tr>
          </form>
          {% else %}
          <tr>
            <td>
              {{appointment.get_patient_name}}</td>
            <td class="dash-l-r">{{appointment.date}}</td>
            <td>{{appointment.choice}}</td>
            <td class="dash-l-r">
              <!-- {{prescription_form.prescription}} -->
            </td>
            <td>{{appointment.get_patient_email}}</td>
            <td class="dash-l-r">{{appointment.get_patient_contact}}</td>
            <td></td>
          </tr>
          {% endif %}
          {% endfor %}
        </table>
      </div>
    </div>
  </section>
  {% include 'footer.html' %}
  {% include 'importscripts.html' %}
</body>

</html>